/*Ventas*/

.banner {
    width: 80%;
    margin: auto;
}

.banner img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 3px 4px #ccc;
}

.t_ventas  {
    text-align: center;
    margin: auto;
    font-size: 25px;
    text-transform: uppercase;
}

.div_ventas {
    text-align: center;
    margin: auto;
}

.ul_ventas {
    display: inline-block;
    margin: 20px auto;
    align-items: center;
}

.ul_ventas li {
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 350px;
}

.ul_ventas li img {
    width: 250px;
    height: 250px;
    margin: auto;
}

.a_ventas {
    font-weight: inherit;
    text-decoration: none;
    color: #676767;
    font-size: 20px;
}

.ul_ventas li p {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}

.mas_productos {
    text-align: right;
    width: 80%;
    margin: 20px auto;
}

.mas_productos a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.suscribite {
    display: flex;
    width: 60%;
    margin: 10px auto;
    align-items: center;
}

.t_suscribite {
    width: 40%;
    display: flex;
    font-weight: normal;
}

form {
    display: flex;
    width: 60%;
}

.i_suscribite {
    width: 60%;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
}

.b_suscribite {
    width: 150px;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    color: white;
    background-color: #2CCC38;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.b_suscribite:hover {
    cursor: pointer;
    background-color: #1D93AB;
}

/* Contactos */

.contacto {
    width: 90%;
    margin: auto;
    background-image: url('../img/contacto_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    box-shadow: 4px 4px 4px #ccc;
}


.info_empresa {
    color: white;
    width: 40%;
    height: 100%;
    margin: 20px auto;
    display: inline-block;
}

.t_empresa {
    font-size: 45px;
    width: 500px;
    display: block;
}

.contacto_empresa h2 {
    font-size: 20px;
    font-weight: normal;
}

.contacto_empresa p {
    color: #2CCC38;
    font-size: 25px;
    font-weight: bold;
}

.form_contacto {
    background-color: #534d4dd7;
    border-radius: 20px;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    display: inline-block;
}

.form_casilleros {
    width: 70%;
    margin: 15px auto;
}

.label_contacto {
    color: white;
    font-size: 20px;
}

.input_contacto {
    width: 300px;
    margin: 5px auto;
    height: 25px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.option_contacto {
    width: 180px;
    padding: 0 16px;
    height: 30px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}

.text_consulta {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin: 10px auto;
}

.verificacion {
    display: flex;
    width: 60%;
    margin: 10px auto;
    background-color: #ccc;
    align-items: center;
    border-radius: 15px;
}

.input_verificacion {
    margin: 20px;
}

.p_verificacion {
    font-size: 15px;
    margin-right: 20px;
}

.b_enviar_contacto {
    background-color: #2CCC38;
    font-size: 20px;
    height: 30px;
    width: 40%;
    color: white;
    border: none;
}

.b_enviar_contacto:hover {
    cursor: pointer;
    background-color: #1D93AB;
}