@media screen and (max-width: 768px) {
/*Menu Hamburguesa */
    
    .menu_check {
        display: none;
    }

    .menu_hamburguesa {
        display: block;
        text-align: center;
        width: 50px;
        margin: auto;
    }

    .cerrar_menu_hamburguesa {
        display: none;
    }

    .menu {
        display: none;
    }


    .menu_check:checked + .menu{
        display: flex;
        width: 80%;
        margin: auto;
        gap: 5px;
        flex-direction: column;
    }



    /*Header*/ 
 
    .logo {
        width: 80%;
        margin: auto;
    }

 
/*Section*/

    .section_index {
        display: block;
        align-items: center;
    }

    .articulo_index {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .articulo_index p {
        line-height: 20px;
    }

    .img_index {
        width: 100%;
        margin: auto;
    }
/*Index*/

    .d_enlaces:last-child {
        margin-bottom: 30px;
    }

/*Footer*/

    footer {
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    .logo_footer  {
        display: block;
        width: 90%;
        text-align: center;
    }

    
    .redes_sociales {
        width: 90%;
        text-align: center;
    }

    .redes_sociales ul {
        margin: auto;
        width: 80%;
    }

/*Servicios*/

    .responsive_servicio_article {
        flex-direction: column-reverse;
    }

    .responsive_servicio_article_m {
        flex-direction: column;
    }

    .texto_servicio {
        width: 100%;
    }

    .texto_servicio h3 {
        text-align: center;
        font-size: 1.8rem;
    }

    .texto_servicio p {
        line-height: 22px;
    }

    .section_servicio img {
        width: 100%;
    }

    aside ul li img {
        margin: 20px 0;
    }

/*Nosotros*/

    .section_nosotros {
        flex-direction: column-reverse;
        width: 90%;
    }

    .a_nosotros {
        width: 100%;
        margin: auto;
    }

    .a_nosotros p {
        text-align: center;
    }

    .img_nosotros {
        width: 100%;
    }

    .t_aside {
        text-align: center;
    }

    .img_aside_solidario {
        justify-content: center;
    }

    .img_aside_solidario ul {
        display: block;
    }

    .img_aside_solidario ul li {
        margin: 10px 0;
    }

    .btn_conocer {
        margin-bottom: 30px;
    }

/* productos */

    .div_ventas {
        width: 100%;
    }

    .ul_ventas {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .suscribite {
        display: block;
        width: 100%;
    }

    .t_suscribite {
        width: 100%;
        text-align: center;
    }
    
    .suscribite form {
        width: 80%;
        margin: auto;
        display: block;
        justify-content: center;
    }

    .i_suscribite {
      width: 92%;
      margin: 10px 0;
    }

    .b_suscribite {
        width: 100%;
    }

/* Contacto */

    .contacto {
        display: inline-block;
        width: 100%;

    }

    .info_empresa {
        display: block;
        width: 80%;
    }

    .form_contacto {
        width: 90%;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .form_casilleros {
        display: grid;
        width: 100%;
    }

    .verificacion {
        width: 80%;
    }
}
